#!/usr/bin/make -f

build:
	dh build --before configure
	sh ./bootstrap.sh
	dh_auto_configure
	dh build --after configure

clean:
	dh clean
	rm -f config.guess config.sub ltmain.sh install-sh missing depcomp aclocal.m4 configure config.h.in Makefile.in src/Makefile.in

%:
	dh $@
